<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CS 290 Final Project</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <body>

        <header>
            <img src="./logo.jpg" alt="Failed to Load">
            <h1 class="main-title">Corvallis LFG</h1>
        </header>

        {{body}}

    </body>
</html>