<main class = "content">
  <h2 class = "header">

    Looking for Rider

  </h2>
  <div class = "create-a-post">

    <div class = "questions-container">
      <div class = "questions-input-container">
        <label for="question-name" class = "question-name-label"> Name </label>
        <div class="question-input-element">
          <input type="text" name="question-name" id="question-name" class="question-input">
        </div>
      </div>

      <div class="questions-input-container">
        <label for="question-license" class="question-license-label">License plate #</label>
        <div class="question-input-element">
        <input type="text" name="question-license" id = "question-license" class="question-input">
        </div>
      </div>
      <div class="questions-input-container">
        <label for="question-car" class="question-car">Car Make</label>
        <div class="question-input-element">
        <input type="text" name="question-car" id="question-car" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
<<<<<<< HEAD
        <label for="question-phone" class = "question-phone-label"> Phone # </label>
=======
        <label for="question-phone" class = "question-phone-label"> Phone </label>
>>>>>>> d2335494a0f2d2730408c5e79451b0c570fd2acc
        <div class="question-input-element">
          <input type="text" name="question-phone" id="question-phone" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-time" class = "question-time-label"> Time </label>
        <div class="question-input-element">
<<<<<<< HEAD
          <input type="text" time="question-time" id="question-time" class="question-input">
=======
          <input type="text" name="question-time" id="question-time" class="question-input">
>>>>>>> d2335494a0f2d2730408c5e79451b0c570fd2acc
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-date" class = "question-date-label"> Date </label>
        <div class="question-input-element">
          <input type="text" name="question-date" id="question-date" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-start" class = "question-start-label"> Start Location </label>
        <div class="question-input-element">
          <input type="text" name="question-start" id="question-start" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
<<<<<<< HEAD
        <label for="question-end" class = "question-end-label"> End Location </label>
=======
        <label for="question-end" class = "question-end-label"> Destination Location </label>
>>>>>>> d2335494a0f2d2730408c5e79451b0c570fd2acc
        <div class="question-input-element">
          <input type="text" name="question-end" id="question-end" class="question-input">
        </div>
      </div>

    </div>

    <div class="create-button">
      <button type="button" id="create" class="action-button">Create Post</button>
    </div>

  </div>

  <h2 class="header">Posts</h2>
    <section id="posts-container">
      {{#each posts}}
      {{> postTemplate}}
    {{/each}}
    </section>

</main>
