<main class = "content">
  <h2 class = "header">
    Looking for Driver
  </h2>
  <div class = "create-a-post">

    <div class = "questions-container">
      <div class = "questions-input-container">
        <label for="question-name" class = "question-name-label"> Name </label>
        <div class="question-input-element">
          <input type="text" name="question-name" id="question-name" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-phone" class = "question-phone-label"> Name </label>
        <div class="question-input-element">
          <input type="text" phone="question-phone" id="question-phone" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-time" class = "question-time-label"> Name </label>
        <div class="question-input-element">
          <input type="text" time="question-time" id="question-name" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-date" class = "question-date-label"> Name </label>
        <div class="question-input-element">
          <input type="text" date="question-date" id="question-date" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-start" class = "question-start-label"> Name </label>
        <div class="question-input-element">
          <input type="text" start="question-start" id="question-start" class="question-input">
        </div>
      </div>

      <div class = "questions-input-container">
        <label for="question-end" class = "question-end-label"> Name </label>
        <div class="question-input-element">
          <input type="text" end="question-end" id="question-end" class="question-input">
        </div>
      </div>

    </div>

    <div class="create-button">
      <button type="button" id="create" class="action-button">Create Post</button>
    </div>

  </div>

  <h2 class="header">Posts</h2>
    <section id="posts-container">
      {{#each posts}}
      {{> postTemplate}}
    {{/each}}
    </section>

</main>
