<main class="menu">
  <h2>I am a...</h2>
  <div id="menu-container">
      <div id="menu-item">
          <h3>Driver</h3>
      </div>
      <div id="menu-item">
          <h3>Rider</h3>
      </div>
  </div>
</main>