<main class="menu">
    <h2>I am a...</h2>
    <div id="menu-container">
        <a href="./driver">
            <div id="menu-item">
                <h3>Driver</h3>
            </div>
        </a>

        <a href="./rider">
            <div id="menu-item">
                <h3>Rider</h3>
            </div>
        </a>
    </div>
</main>