
<main class='content'>
        <h2 class='header'>
          Looking for riders
          </h2>
          <div class='questions-container'>
            <div class="questions-input-container">
              <label for="question-name" class="question-name-label">Name</label>
              <div class="question-input-element">
              <input type="text" name="question-name "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-plate" class="question-plate-label">License plate #</label>
              <div class="question-input-element">
              <input type="text" name="question-plate "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-plate" class="question-plate-label">Car Make</label>
              <div class="question-input-element">
              <input type="text" name="question-plate "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-phone" class="question-phone-label">Phone #</label>
              <div class="question-input-element">
              <input type="text" name="question-phone "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-time" class="question-time-label">Time</label>
              <div class="question-input-element">
              <input type="text" name="question-time "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-date" class="question-date-label">Date</label>
              <div class="question-input-element">
              <input type="text" name="question-date "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-start" class="question-start-label">Start Location</label>
              <div class="question-input-element">
              <input type="text" name="question-start "class="question-input">
              </div>
            </div>
            <div class="questions-input-container">
              <label for="question-end" class="question-end-label">End Location</label>
              <div class="question-input-element">
              <input type="text" name="question-end "class="question-input">
              </div>
            </div>
          </div>
        </main>
