body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0px;
}

a {
  text-decoration: none;
}

header a:hover{
  text-decoration: none;
  color: rgb(228, 209, 187);
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px;
  width: 100%;
  position: relative;
  top: 0;
  height: 250px;
}

header a {
  position: absolute;
  left: 300px;
  top: 100px;
  color: #fff;
}

.site-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.header-image-container{
  position: absolute;
  top: 0;
  left: 0;
}

.header-image-container img {
  float: left;
  max-height: 250px;
  margin: 0 15px 0 0;
  
}

.error-container{
  text-align: center;
}

h2{
  font-size: 60px;
  font-weight: 700;
}

h3{
  font-size: 30px;
}

.menu{
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#menu-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#menu-container a{
  color: black;
}

#menu-item{
  width: 400px;
  height: 150px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#menu-item h3{
  margin-top: auto;
  margin-bottom: auto;
}

.post-container{
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  border-color: #aaa;
  padding: 5px;
}

.post-container div{
  margin-bottom: 5px;
}

.post-container .tag{
  display: inherit;
  width: 100%;
}